// ****************** Colors ******************
$color-black: #000000;
$color-white: #ffffff;

$color-1: #f8f8f8;
$color-2: #707070;
$color-3: #2d4f9e;
$color-4: #646464;
$color-5: #000000;
$color-6: #b3b3b3;
$color-7: #c8c8c8;
$color-8: #216f9c;
$color-9: #d20074;
$color-10: #c7c7c7;
$color-11: #4c960f;
$color-12: #dcdcdc;
$color-13: #d21113;
$color-14: #295704d5;
$color-15: #4C960F;
$color-16: #F0F0F0;
$color-17: #2D4F9E;

// ****************** Grids ******************
$row-width: 115rem;
$row-width-2: 125rem;
