.btn {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;

  &--1 {
    border: 1px solid $color-2;
    position: relative;
    &__text {
      padding: 1.4rem 3.4rem;
      border-right: 1px solid $color-2;
    }

    &__icon {
      padding: 1.4rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 0.3rem;
      background-color: transparent;
      top: 0;
      transition: 0.3s;
    }

    &::before {
      left: 0;
    }

    &::right {
      right: 0;
    }

    &:hover::before {
      background-color: $color-2;
    }

    &:hover::after {
      background-color: $color-2;
    }

    &--dark {
      color: $color-2;
    }
    &--green {
      color: $color-white;
      background-color: $color-11;

      .btn--1__text {
      border-right: 1px solid $color-12;
    }
    }
  }
}
