.dropdown {
  position: relative;
  margin-bottom: 2rem;

  &__content {
    position: absolute;
    background-color: $color-white;
    padding: 1.3rem 1rem;
    border-radius: 0 0 0.6rem 0.6rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
    z-index: 1;

    display: none;

    a {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
        display: block;
        margin-right: 0;
      }
    }
  }

  &:hover .dropdown__content {
    display: block;
  }
}
