.faq {
  &__list-item {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__header {
    @include flex-row-aicenter;

    border: 0.5px solid $color-7;
    border-radius: 0.1rem;
    box-shadow: 0 1rem 1rem rgba($color-black, 0.05);
    color: $color-4;
    cursor: pointer;
  }
  &__icon {
    padding: 1.5rem 2rem;

    // &--plus{

    // }
    // &--minus {
    //   display: none;
    // }
  }
  &__title {
    padding: 1.5rem 2rem;
    border-left: 0.5px solid $color-7;
  }
  &__container {
    padding: 2rem 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    display: none;
    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
