.mobile-nav {
  @include flex-column-jcbetween;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -300px;
  transition: 0.4s;
  padding: 25px 20px 30px 20px;
  background-color: $color-white;
  z-index: 80;

  &__close-btn {
    font-size: 30px;
    color: $color-2;
    cursor: pointer;
  }

  &__open-btn {
    position: relative;
    margin-top: 0.9rem;
    user-select: none;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.4rem;
      display: inline-block;
      background-color: $color-2;
      transition: all 0.3s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
    }

    &.primary-color {
      &,
      &::before,
      &::after {
        background-color: $color-2;
      }
    }

    &::before {
      top: -0.9rem;
    }

    &::after {
      top: 0.9rem;
    }

    &--wrapper {
      display: none;
      cursor: pointer;

      &:hover span::before {
        width: 2.4rem;
      }

      &:hover span::after {
        width: 3.6rem;
      }

      &__dashboard {
        @include responsive(tab-land-mini) {
          display: block;
        }
      }

      @include responsive(tab-land-mini) {
        display: block;
      }
    }
  }

  &__head {
    @include flex-row-jcbetween-aicenter;
  }
  &__links {
    @include flex-column;
    margin-top: 7rem;
    margin-bottom: 7rem;
    &--items {
      margin-bottom: 2rem;
    }
  }
  &__bottom {
    @include flex-column;
  }
}
