.nav {
  background-color: $color-1;
  padding: 2.5rem 0;

  &__container {
    @include flex-row-jcbetween-aiend;

    @include responsive(tab-land-mini) {
      @include flex-row-jcbetween-aicenter;
    }
  }

  &__logo {
    // max-width: 34rem;
    // max-height: 8.7rem;
    max-width: 27rem;
    max-height: 8rem;

    @include responsive(small-phone) {
      max-width: 21rem;
      max-height: 4rem;
    }

    &--mobile {
      max-width: 20rem;
      max-height: 3rem;
    }
  }

  &__links {
    @include flex-row;

    &-item {
      text-decoration: none;
      color: $color-2;
      font-size: 1.8rem;
      font-weight: bold;

      position: relative;
      transition: 0.4s;

      &:not(:last-child) {
        margin-right: 3rem;

        @include responsive(tab-land) {
          margin-right: 2rem;
        }
      }

      &--mobile {
        margin-bottom: 2rem;
      }

      &:hover {
        color: $color-9;
      }
    }

    @include responsive(tab-land-mini) {
      display: none;
    }
  }
}
