.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-6, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 70;

  visibility: hidden;
  opacity: 0;

  @supports (backdrop-filter: blur(5px)) {
    backdrop-filter: blur(5px);
  }
  &.show {
    visibility: visible;
    opacity: 1;
  }
}
