body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: $color-4;
}

.heading {
  &--1 {
    font-size: 7.2rem;
    line-height: 9rem;
    font-weight: 200;
    color: $color-4;

    @include responsive(tab-port) {
      font-size: 5.2rem;
      line-height: 7rem;
    }
    @include responsive(phone) {
      font-size: 3.2rem;
      line-height: 5rem;
    }
  }
  &--2 {
    font-size: 6.2rem;
    line-height: 8rem;
    font-weight: 200;
    color: $color-4;

    @include responsive(tab-land-mini) {
      font-size: 4.2rem;
      line-height: 6rem;
    }
    @include responsive(tab-port) {
      font-size: 2.2rem;
      line-height: 4rem;
    }
  }
  &--3 {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }
  &--4 {
    font-size: 3.6rem;
    line-height: 5rem;

    @include responsive(tab-port) {
      font-size: 2.6rem;
      line-height: 4rem;
    }
  }
  &--5 {
    font-size: 4rem;
    line-height: 6rem;
    font-weight: lighter;
  }
}

.paragraph {
  &--1 {
    font-size: 1.8rem;
    line-height: 3.6rem;
  }
  &--2 {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}
