// Alignment
.centerAlign {
  text-align: center;
}

// Margins ******************
.m- {
  &top-30px {
    margin-top: 3rem;
  }
  &top-bottom-50px {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  &bottom-30px {
    margin-bottom: 3rem;
  }
  &bottom-50px {
    margin-bottom: 5rem;
  }
  &bottom-60px {
    margin-bottom: 6rem;
  }
  &bottom-70px {
    margin-bottom: 7rem;
  }
}

// Display ******************
.d-inline-block {
  display: inline-block;
}


