.section__epson {
  background-color: $color-16;
  padding: 10rem 0;
}

.epson {
  @include flex-row-jcbetween-aiend;

  @include responsive(phone) {
    @include flex-column-jcstart-aistart;
  }
}

.error {
  @include flex-row-jcbetween-aicenter;

  &__img {
    width: 100%;

    &--1 {
      @include responsive(phone) {
        margin-bottom: 4rem;
      }
    }
  }

  @include responsive(phone) {
    @include flex-column;
  }
}

.section__epson__table {
  padding: 6rem 0;
}

.epson__table {
  overflow-x: auto;
}

.table__epson {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    text-align: left;
    padding: 2rem;

    a {
      font-size: 2.4rem;
      line-height: 5rem;
      color: $color-4;
      @include responsive(tab-land-small) {
        font-size: 1.4rem;
        line-height: 3rem;
      }
    }
  }

  tr {
    &:nth-child(even) {
      background-color: $color-1;
    }
  }
}

.col-name {
  display: block;
  padding: 1.5rem 1rem;
  color: $color-white;
  background-color: $color-17;
  margin-top: 1rem;

  @include responsive(tab-land-small) {
    font-size: 1.4rem;
    line-height: 3rem;
    padding: 1rem 0.5rem;
  }
}

.last-col {
  vertical-align: bottom;

  &__text {
    font-size: 1.4rem;
    line-height: 2.4rem;

    @include responsive(tab-land-small) {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

.col-title {
  @include responsive(tab-land-small) {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
