.home {
  &-header__text {
    margin-top: 3rem;

    & > * {
      font-size: 2rem;
      line-height: 2.4rem;
      color: $color-4;
      margin-bottom: 1.5rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__header-pic--1 {
    margin: 10rem 0 12rem 0;
    display: block;

    @include responsive(phone) {
      margin: 5rem 0 7rem 0;
    }
  }

  &__products {
    padding: 10rem 0;
    background-color: $color-5;
    overflow-x: hidden;
  }
}

.products {
  &__img {
    &--1 {
      max-width: 29.3rem;
      max-height: 20rem;
      transform: translateY(-4rem);

      @include responsive(tab-land-mini) {
        max-width: 22.3rem;
        max-height: 13rem;
      }
      @include responsive(small-phone) {
        max-width: 19.3rem;
        max-height: 10rem;
      }
    }
    &--2 {
      max-width: 48.5rem;
      max-height: 38.7rem;

      @include responsive(tab-land-mini) {
        max-width: 41.5rem;
        max-height: 31.7rem;
      }
      @include responsive(small-phone) {
        max-width: 33.5rem;
        max-height: 23.7rem;
      }
    }
    &--3 {
      max-width: 40.7rem;
      max-height: 34.9rem;

      @include responsive(tab-land-mini) {
        max-width: 33.7rem;
        max-height: 27.9rem;
      }
      @include responsive(small-phone) {
        max-width: 30.7rem;
        max-height: 24.9rem;
      }
    }
  }

  &__text {
    margin-top: 3rem;
    text-align: center;

    & > * {
      font-size: 1.3rem;
      line-height: 3rem;
      color: $color-white;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

.section__shape-cut {
  padding: 10rem 0;

  background-image: url(../img/pic-7.png);
  background-repeat: no-repeat;
  background-size: 10.1rem 13.5rem;
  background-position: 75% 0;

  @include responsive(small-phone) {
    padding-bottom: 5rem;
  }
}

.shape-cut {
  @include flex-row-jcbetween;

  @include responsive(tab-port) {
    @include flex-column;
  }

  &__logo {
    max-width: 39rem;
    max-height: 7.5rem;

    @include responsive(tab-land-mini) {
      max-width: 29rem;
      max-height: 5.5rem;
    }
  }

  &__img {
    z-index: -1;
    max-width: 64.7rem;
    max-height: 85.6rem;

    @include responsive(tab-land-mini) {
      max-width: 34.7rem;
      max-height: 55.6rem;
    }
    @include responsive(tab-port) {
      // margin-top: 2rem;
      // align-self: flex-end;

      display: none;
    }
    // @include responsive(phone) {
    //   max-width: 24.7rem;
    //   max-height: 45.6rem;
    // }
  }

  &__item-wrapper {
    // position: absolute;

    // @include responsive(tab-land) {
    //   position: relative;
    // }
  }
  &__item {
    max-width: 15rem;
    max-height: 15rem;

    @include responsive(tab-port) {
      max-width: 13rem;
      max-height: 13rem;
    }
    @include responsive(phone) {
      max-width: 10rem;
      max-height: 10rem;
    }
  }
}

.section__vanyl {
  background-image: radial-gradient(
    circle,
    rgba(156, 217, 246, 0.122),
    rgba(54, 188, 238, 0.702)
  );

  padding: 10rem 0;

  @include responsive(small-phone) {
    padding: 6rem 0;
  }
}

.vanyl__container {
  @include flex-row-jcbetween;

  @include responsive(phone-big) {
    @include flex-column;
  }
}

.vanyl__logo {
  @include responsive(tab-port) {
    max-height: 5.4rem;
    max-width: 20rem;
  }
}

.vanyl__software {
  max-height: 46rem;
  max-width: 72rem;
  margin-top: 3rem;
  margin-right: 1rem;

  transform: translateX(5rem);

  @include responsive(tab-land) {
    max-height: 34rem;
    max-width: 60rem;
  }
  @include responsive(tab-port) {
    max-height: 26rem;
    max-width: 52rem;
  }
  @include responsive(phone-big) {
    margin-bottom: 4rem;
  }
  @include responsive(small-phone) {
    transform: translateX(0);
  }
}

.vanyl__description {
  text-align: right;
}

.vanyl__text {
  font-size: 1.6rem;
  line-height: 3.6rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.secction__testimonial {
  padding: 10rem 0;
  background-color: $color-2;
}
