.section__oki-product {
  padding: 10rem 0;
}

.oki {
  &-product {
    @include flex-row-jcbetween-aiend;

    &__pic {
      flex-basis: 200%;

      @include responsive(phone) {
        flex-basis: 0;
        margin-top: 4rem;
      }
    }

    &__img {
      width: 100%;
    }

    @include responsive(phone) {
      @include flex-column;
    }
  }
}

.section__shapeCut {
  padding: 10rem 0;
  background-color: $color-15;

  @include responsive(phone) {
    padding: 6rem 0;
  }
}

.shapeCut {
  @include flex-row-jcbetween-aicenter;

  &__product__img {
    width: 100%;

    &--1 {
      @include responsive(phone) {
        margin-bottom: 4rem;
      }
    }
  }

  @include responsive(phone) {
    @include flex-column;
  }
}
