.section__cuts {
  background-color: $color-white;
}

.cuts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;

  transform: translateY(-9rem);

  &__img {
    max-width: 15rem;
    max-height: 15rem;
    display: block;
  }

  &__name {
    display: inline-block;
    padding: 1rem 3rem;
    color: $color-white;
    background-color: $color-15;
    margin: 3rem 0 6rem;
  }

  @include responsive(tab-land-small) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include responsive(phone-big) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section__cuts-2 {
  padding: 10rem 0;
  background-image: radial-gradient(
    circle,
    rgba(156, 217, 246, 0.122),
    rgba(54, 188, 238, 0.702)
  );
}

.cuts-2 {
  @include flex-rowwrap-jccenter-aicenter;
  &__img {
    &--1 {
      max-width: 30rem;
      max-height: 8.4rem;
    }
    &--2 {
      max-width: 40rem;
      max-height: 10rem;
    }
    &--3 {
      max-width: 28.2rem;
      max-height: 10.9rem;
    }
  }
}
