.vinylmaster {
  @include flex-row-jcbetween-aicenter;

  &__header__img {
    &--1 {
      max-width: 34.4rem;
      max-height: 20rem;

      @include responsive(phone-big) {
        max-width: 24.4rem;
        max-height: 10rem;
      }
    }
    &--2 {
      //   max-width: 35rem;
      //   max-height: 8.4rem;

      @include responsive(phone-big) {
        max-width: 25rem;
        max-height: 8rem;
      }
      @include responsive(small-phone) {
        margin-top: 4rem;
      }
    }
  }

  &__all__img {
    margin-top: 4rem;
    width: 100%;
    object-fit: cover;
  }
  @include responsive(small-phone) {
    @include flex-column;
  }
}

.section__description {
  padding: 10rem 0;

  @include responsive(phone) {
    padding: 6rem 0;
  }
}

.section__oki {
  background-color: $color-13;
  padding: 10rem 0;

  &--2 {
    padding: 0;
    @include responsive(phone) {
      padding: 4rem 0;
    }
  }
}

.oki {
  @include flex-row-jcbetween-aicenter;

  &--2 {
    @include flex-row-jcbetween-aiend;
  }

  &__img {
    &--1 {
      @include responsive(phone-big) {
        max-width: 20.1rem;
        max-height: 10rem;
      }
      @include responsive(small-phone) {
        width: 100%;
      }
    }
    &--2 {
      @include responsive(tab-land-mini) {
        max-width: 38.5rem;
        max-height: 22rem;
      }
      @include responsive(phone) {
        margin-top: 4rem;
      }
      @include responsive(small-phone) {
        width: 100%;
      }
    }
  }

  @include responsive(phone) {
    @include flex-column;
  }
}
