.footer {
  background-image: url(../img/pic-15.png);
  background-repeat: no-repeat;
  // background-size: 10.1rem 13.5rem;
  //   background-position: 10% 0;
  background-position: top left;

  background-color: $color-black;
  padding: 10rem 0;

  &__container {
    @include flex-rowwrap-jcbetween;
    // @include flex-row-jcbetween;
    border-bottom: 1px solid rgba(204, 204, 204, 0.26);
    margin-bottom: 5rem;

    & > * {
      padding-bottom: 5rem;
      // &:not(:last-child) {
      //   // margin-right: 9rem;
      // }
    }
  }

  &__social-media {
    margin-top: 4rem;
    margin-bottom: 1rem;
    & > * {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__copyright {
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: $color-2;
    display: inline-block;
  }

  &__about {
    color: $color-7;
    font-size: 1.8rem;
    line-height: 2.2rem;

    margin-bottom: 4rem;
  }

  &__link {
    &-item {
      font-size: 1.8rem;
      line-height: 2.2rem;
      font-weight: bold;
      color: $color-7;
      text-decoration: none;
      display: block;
      transition: 0.4s;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &:hover {
        color: $color-9;
      }
    }
  }

  &__bottom {
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: $color-2;
    text-align: right;
  }
}
