.header {
  &__home {
    padding: 10rem 0 18rem;

    background-image: url(../img/pic-2.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: bottom right;

    @include responsive(phone) {
      padding: 6rem 0 12rem;
    }
  }

  &__about {
    padding: 10rem 0;
    background-color: #c7c7c7;
  }

  &__vinylmaster {
    padding: 10rem 0;

    background-image: radial-gradient(
      circle,
      rgba(156, 217, 246, 0.122),
      rgba(54, 188, 238, 0.702)
    );
  }

  &__shape-cut {
    background: linear-gradient($color-14, $color-14), url(../img/pic-19.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding: 15rem 0;

    &__img {
      @include responsive(phone) {
        max-width: 30rem;
        max-height: 6.5rem;
      }
      @include responsive(small-phone) {
        max-width: 20rem;
        max-height: 5.5rem;
      }
    }
  }
  &__epson {
    background-color: $color-16;
    padding: 10rem 0;

    &__img {
      width: 100%;

      &--1 {
        @include responsive(phone) {
          margin-bottom: 4rem;
        }
      }
    }

    @include responsive(phone) {
      padding: 6rem 0;
    }
  }
}
