.testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;

  &__card {
    background-image: url(../img/pic-14.png);
    background-repeat: no-repeat;
    // background-size: 10.1rem 13.5rem;
    background-position: 10% 0;

    background-color: $color-7;
    border-radius: 0.6rem;
    padding: 5rem;

    @include flex-column-jcbetween;

    @include responsive(small-phone) {
      padding: 5rem 3rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.8rem;
    text-align: center;
    font-weight: 400;
  }

  &__user {
    @include flex-row-jccenter-aicenter;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
  }

  &__picture {
    width: 3.9rem;
    height: 3.9rem;
    border-radius: 50%;
    display: inline-block;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &__names {
    margin-left: 1rem;
  }

  &__name {
    color: $color-8;
    font-size: 1.6rem;
  }
  &__post {
    margin-top: 0.5rem;
    font-size: 1.3rem;
  }

  @include responsive(tab-land) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include responsive(tab-land-small) {
    grid-gap: 2rem;
  }
  @include responsive(tab-port) {
    grid-template-columns: repeat(1, 1fr);
  }
}
